/*HOME*/


 .login-bar-home {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .login-bar-list-home {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .nav-icon {
    display: flex;
    justify-content: space-between;
  }

  .nav-icon i {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    color: #4E5166;
  }

  .nav-icon i:hover {
    color: white;
    padding: 10px;
    background-color: #4E5166;
    border-radius: 30px;
  }
  
  #logout {
    display: flex;
    cursor: pointer;
  }

  .logout-icon {
    display: none;
  }
  
  #logout:hover {
    color:#fd2d01;
  }
  
  .welcome-user {
    display: flex;
    align-items: center;
    color: #fd2d01;
  }
  
  #homePage {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {

    body {
      width: 100%;
    }

    #homePage {

      flex-direction:column;
      align-items: center;
      margin-right: 0px;
      margin-left: 80px;
      
    }

    #logout {
      margin-right: 20px;
    }
    

  }

  @media screen and (max-width: 767px) {

.logo-left {
  width: 40%;
  margin-right: 20px;
}

.nav-icon i {
  padding: 0px;
}

.nav-icon i:hover {
  padding: 0px;
  background-color: white;
  color:#4E5166
}

.welcome-user {
  display: none;
}

#logout {
  display: none;
}

.logout-icon {
  display: inline;
}

.login-bar-list-home {
  margin-right: 15px;
  padding-left: 0px;
}

#homePage {
  flex-direction:column;
 margin-left: 5px;
  width: 97%;


}

  }