/***********CREATE POST***********/

.post-form {
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 7px 10px rgba(78, 81, 102, 0.3);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(78, 81, 102, 0.3);
    -moz-box-shadow: 0px 7px 10px 0px rgba(78, 81, 102, 0.3);
  }
  
  #form-field {
    display: flex;
    align-items: center;
  }
  
  .message {
    border-radius: 30px;
    width: 80%;
    padding: 10px
  }
  
  /***********POST*************/
  
  .main-center {
    min-width: 250px;
    width: 50%;
    margin-left: 30px;
    margin-right: 300px;
  }

  .posts-feeds {
    padding: 0px;
  }
  
  .feeds-container {
    width: 100%;
  }
  
  .post-container {
    margin-top: 30px;
  }
  
  .pic-client {
    color: #fd2d01;
  }
  
  .pic-other {
    color: #4E5166;
  }
  
  .post {
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 7px 10px rgba(78, 81, 102, 0.3);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(78, 81, 102, 0.3);
    -moz-box-shadow: 0px 7px 10px 0px rgba(78, 81, 102, 0.3);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .post-left {
    display: flex;
    align-items: center;
  }
  
  .time {
    font-style: italic;
    font-size: small;
    padding: 5px;
  }
  
  .post-pic {
    max-width: 100%;
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
  
  .main-center {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }
  
  }

  @media screen and (max-width: 767px) {
  
    .main-center {
      margin-right: 0px;
      margin-left: 0px;
      width: 100%;
    }
  }